resources/radui.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs ="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Pointbuffers">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Pointbuffer" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Pointbuffer">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="point" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="count" type="xs:integer" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:element name="point">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="x" type="xs:integer" use="required" />
            <xs:attribute name="y" type="xs:integer" use="required" />
            <xs:attribute name="z" type="xs:integer" use="required" />
        </xs:complexType>
    </xs:element>

</xs:schema>
