radui/resources/mxml.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema
        targetNamespace='http://www.macromedia.com/2003/mxml'
        xmlns:mx='http://www.macromedia.com/2003/mxml'
        xmlns='http://www.w3.org/2001/XMLSchema'
        elementFormDefault='qualified'
        attributeFormDefault='unqualified'
>
    <attributeGroup name="id.attr">
        <attribute name="id" type="ID"/>
    </attributeGroup>
    <complexType mixed='true' name='_I_Object'></complexType>
    <element name='_X_mx.core.UIComponent' type='mx:_I_mx.core.UIComponent' abstract='true'
             substitutionGroup='mx:_X_mx.core.UIObject'/>
    <element name='_X_mx.core.UIObject' type='mx:_I_mx.core.UIObject' abstract='true'
             substitutionGroup='mx:_X_MovieClip'/>
    <element name='_X_Object' type='mx:_I_Object' abstract='true'/>
    <element name='_X_MovieClip' type='mx:_I_MovieClip' abstract='true' substitutionGroup='mx:_X_Object'/>
    <element name='_X_mx.core.View' type='mx:_I_mx.core.View' abstract='true'
             substitutionGroup='mx:_X_mx.core.UIComponent'/>
    <complexType mixed='true' name='_I_MovieClip'>
        <complexContent>
            <extension base='mx:_I_Object'/>
        </complexContent>
    </complexType>
    <complexType mixed='true' name='_I_mx.core.UIObject'>
        <complexContent>
            <extension base='mx:_I_MovieClip'/>
        </complexContent>
    </complexType>
    <complexType mixed='true' name='_I_mx.core.UIComponent'>
        <complexContent>
            <extension base='mx:_I_mx.core.UIObject'/>
        </complexContent>
    </complexType>
    <complexType mixed='true' name='_I_mx.core.View'>
        <complexContent>
            <extension base='mx:_I_mx.core.UIComponent'/>
        </complexContent>
    </complexType>
    <complexType mixed='true' name='_I_mx.containers.Container'>
        <complexContent>
            <extension base='mx:_I_mx.core.View'/>
        </complexContent>
    </complexType>
    <element name='_X_mx.containers.Container' type='mx:_I_mx.containers.Container' abstract='true'
             substitutionGroup='mx:_X_mx.core.View'/>
    <element name='_X_Box' type='mx:_I_mx.containers.Box' abstract='true'
             substitutionGroup='mx:_X_mx.containers.Container'/>
    <complexType mixed='true' name='_I_mx.containers.Box'>
        <complexContent>
            <extension base='mx:_I_mx.containers.Container'/>
        </complexContent>
    </complexType>
    <complexType mixed='true' name='_I_mx.core.Application'>
        <complexContent>
            <extension base='mx:_I_mx.containers.Box'/>
        </complexContent>
    </complexType>
    <complexType mixed='true' name='mx.core.Application'>
        <complexContent>
            <extension base='mx:_I_mx.core.Application'>
                <group ref='mx:_G_mx.core.Application' minOccurs='0' maxOccurs='unbounded'/>
                <attributeGroup ref='mx:_A_mx.core.Application'/>
            </extension>
        </complexContent>
    </complexType>
    <element name='_X_Application' type='mx:_I_mx.core.Application' abstract='true' substitutionGroup='mx:_X_Box'/>
    <element name='Application' type='mx:mx.core.Application' substitutionGroup='mx:_X_Application'/>
    <attributeGroup name='_A_mx.core.Application'>
        <attribute name='backgroundColor' type='string'/>
        <attribute name='borderColor' type='string'/>
        <attribute name='borderStyle' type='string'/>
        <attribute name='borderThickness' type='string'/>
        <attribute name='color' type='string'/>
        <attribute name='fontFamily' type='string'/>
        <attribute name='fontSize' type='string'/>
        <attribute name='fontStyle' type='string'/>
        <attribute name='hPosition' type='string'/>
        <attribute name='hScrollPolicy' type='string'/>
        <attribute name='height' type='string'/>
        <attribute name='horizontalAlign' type='string'/>
        <attribute name='marginBottom' type='string'/>
        <attribute name='marginLeft' type='string'/>
        <attribute name='marginRight' type='string'/>
        <attribute name='marginTop' type='string'/>
        <attribute name='maxHeight' type='string'/>
        <attribute name='maxWidth' type='string'/>
        <attribute name='minHeight' type='string'/>
        <attribute name='minWidth' type='string'/>
        <attribute name='preferredHeight' type='string'/>
        <attribute name='preferredWidth' type='string'/>
        <attribute name='scroll' type='string'/>
        <attribute name='vPosition' type='string'/>
        <attribute name='vScrollPolicy' type='string'/>
        <attribute name='verticalAlign' type='string'/>
        <attribute name='width' type='string'/>
        <attribute name='widthFlex' type='string'/>
        <attributeGroup ref="mx:id.attr"/>
    </attributeGroup>
    <group name='_G_mx.core.Application'>
        <choice>
            <any namespace="##other" processContents="lax"/>
            <element ref="mx:_X_MovieClip"/>
        </choice>
    </group>
</schema>
